@font-face {
  font-family: 'HYQH';
  src: url('./font/HYQiHei-30S.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.back-button {
  position: absolute;
  top: 5vh;
  left: 3vw;
  font-size: 30px;
  color: #ff6a3b;
  text-decoration: none;
}

.menu-button {
  position: absolute;
  top: 5vh;
  right: 3vw;
  font-size: 30px;
  text-decoration: none;
}


.previewer {
  position: relative;
  display: flex;
  height: 70vh;
  left: -32vw;
}

.previewer img {
  max-width: 25vw;
  height: auto;
}


.title {
  position: absolute;
  font-weight: 800;
  top: 10vh;
  left: 35vw;
  font-size: 28px;
  font-family: HYQH;
}

.description {
  display: flex;
  position: absolute;
  top: 20%;
  left: 35vw;
}

.description p {
  font-weight: 700;
  font-size: 18px;
  font-family: HYQH, sans-serif;
  justify-content: space-between;
  text-align: left;
}

.description img {
  max-width: 8vw;
  margin: 10px;
  height: auto;
  display: block;
  margin-left: 0;
}

.author {
  margin-right: 1.5vw;
}

.teacher {
  margin-left: 1.5vw;
}

.author-description {
  position: absolute;
  top: 20%;
  right: 15vw;
}

.author-description #content {
  font-weight: 700;
  font-size: 18px;
  font-family: HYQH, sans-serif;
  display: flex;
  text-align: left;
}

.author-description #text {
  font-weight: 0;
  font-size: 15px;
  font-family: sans-serif;
  flex-wrap: wrap;
  width: 25vw;
  text-align: left;
}

.work-description {
  position: absolute;
  top: 45vh;
  left: 35vw;
  font-size: 22px;
  font-family: HYQH, sans-serif;
}

.work-description #content {
  font-weight: 800;
  text-align: left;
}


.work-description #text-container {
  display: flex;
  position: relative;
  width: 100%;
}

.work-description #text {
  align-self: flex-start;
  display: flex;
  font-size: 18px;
  width: 60vw;
  text-align: left;
  overflow: auto;
  max-height: 40vh;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  margin-top: 0px;
}

.work-description #text::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

/* 自定义滚动条容器 */
#custom-scrollbar {
  display: flex;
  width: 10px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff, rgba(255, 255, 255, 0));
  border-radius: 5px;
  margin-left: auto;
  position: relative;
}

/* 滑块 */
.scroll-thumb {
  width: 1px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
  /* 默认滑块高度 */
}